/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3366cc;
  --ifm-color-primary-dark: #2d5cb5;
  --ifm-color-primary-darker: #274da0;
  --ifm-color-primary-darkest: #204085;
  --ifm-color-primary-light: #3a73d6;
  --ifm-color-primary-lighter: #4180e0;
  --ifm-color-primary-lightest: #5892f0;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #4a8ad1;
  --ifm-color-primary-dark: #4179c2;
  --ifm-color-primary-darker: #3968b3;
  --ifm-color-primary-darkest: #2e57a4;
  --ifm-color-primary-light: #539be5;
  --ifm-color-primary-lighter: #66aaee;
  --ifm-color-primary-lightest: #7db9f7;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.footer {
  background-color: #000000 !important;
}

.footer .footer__link, .footer__link-item, .footer .footer__copyright, .footer .footer__title {
  color: #add8e6 !important;  /* Light blue color, adjust as needed */
  display: flex;              /* Flexbox for centering */
  justify-content: center;   /* Horizontal centering */
  align-items: center;       /* Vertical centering */
  text-align: center;        /* For text elements */
}

.navbar {
  background-color: #000000 !important; 
}

/* Setting the navbar items and link colors to light blue */
.navbar .navbar__link, .navbar .navbar__item, .navbar .navbar__brand {
  color: #add8e6 !important;
}

/* If there's a dropdown menu in your navbar, you might also want to adjust its colors */
.navbar .dropdown__link {
  color: #add8e6 !important;
}

.sidebar div, .sidebar span, .sidebar a, .sidebar p, .sidebar li {
  color: #000000 !important;
}

.releaseSidebarHeading {
  @apply !mt-2 border-t-secondary-700 pt-1;
  border-top-style: solid;
  border-top-width: 1px;
}